.head {
    background: greenyellow;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 16px;
}

.divlink {
   
    border: 2px solid gold;
    background: greenyellow;
    padding: 16px;
   

}

.link {   
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
   
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.small-title {
    font-size: 20px;
    font-weight: 700;
}



